$primary-color: #191970;
$secundary-color: #131418;
$font-color: #CFD8DC;

body {
  background-image: url('../../../../assets/imgs/fundo-space.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
