<div class="container fadeInLeftBig">
  <span class="signal"> &nbsp;< </span>
  <div class="dados">
    <mat-card class="card">

      <mat-card-header class="header-content">
        <div class="perfil">
          <img src="../../../../../../assets/imgs/perfil2.jpeg" alt="perfil">
        </div>
        <section class="header">
          <div>
            <span><strong>Nome:</strong>&nbsp;&nbsp; Arthur Giannoni Santana</span>
          </div>
          <div>
            <span><strong>Cidade e Estado:</strong>&nbsp;&nbsp; Batatais, São Paulo</span>
          </div>
          <div>
            <span><strong>Formação Acadêmica:</strong>&nbsp;&nbsp; Bacharelado em Ciência da Computação</span>
          </div>
        </section>
      </mat-card-header>

      <mat-card-content class="content">
        <div>
          <span><strong>Área de Atuação:</strong>&nbsp;&nbsp; Desenvolvimento Front-End</span>
        </div>
        <div>
          <span><strong>Tipo de Contratação:</strong>&nbsp;&nbsp; PJ ou CLT</span>
        </div>
        <div>
          <span><strong>Número Celular:</strong>&nbsp;&nbsp; (16) 992866610</span>
        </div>
        <div>
          <span><strong>Principais Competências:</strong>&nbsp;&nbsp; JavaScript, TypeScript, Angular, HTML, SASS</span>
        </div>
      </mat-card-content>

      <section class="footer">
        <div>
          <h2>Contatos</h2>
        </div>
        <div class="icones">
          <a href="https://wa.me/5516992866610" target="_blank"><i class="fa fa-whatsapp"></i></a>
          <a href="https://www.linkedin.com/in/arthur-santana28/" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/ArthurGSantana" target="_blank"><i class="fa fa-github"></i></a>
        </div>

      </section>
    </mat-card>
  </div>
  <span class="signal"> /> </span>
</div>

