<section class="container">

  <mat-card class="card">
    <i class="fab fa-angular"></i>
    <div class="div-img">
      <img src="../../../../../../../../assets/imgs/angular/pic-gallery.png" alt="imagem projeto pic-gallery">
    </div>
    <div class="title">
      <h2>Projeto <strong class="pic">PIC-GALLERY</strong></h2>
    </div>
    <div class="btn">
      <button mat-raised-button (click)="openDialog('pic')">Ver mais</button>
    </div>
  </mat-card>

  <mat-card class="card">
    <i class="fab fa-angular"></i>
    <div class="div-img">
      <img src="../../../../../../../../assets/imgs/angular/adota-pets.png" alt="imagem projeto pic-gallery">
    </div>
    <div class="title">
      <h2>Projeto <strong class="pet">Adota<i class="material-icons">pets</i>Pets</strong></h2>
    </div>
    <div class="btn">
      <button mat-raised-button (click)="openDialog('pet')">Ver mais</button>
    </div>
  </mat-card>

  <mat-card class="card">
    <i class="fab fa-angular"></i>
    <div class="div-img">
      <img src="../../../../../../../../assets/imgs/angular/warzone.png" alt="imagem projeto pic-gallery">
    </div>
    <div class="title">
      <h2>Projeto <strong class="war">WARZONE</strong></h2>
    </div>
    <div class="btn">
      <button mat-raised-button (click)="openDialog('war')">Ver mais</button>
    </div>
  </mat-card>

</section>
