<mat-toolbar class="toolbar">
  <div>
    <h1>
      Arthur G Santana
    </h1>
    <h3>
      Front-End Developer
    </h3>
  </div>
</mat-toolbar>

<div class="options-container">
  <section>
    <nav>
       <a [routerLink]="['dados']" [routerLinkActive]="['ativado']"><h2>Dados</h2></a>
       <a [routerLink]="['projetos']" [routerLinkActive]="['ativado']"><h2>Projetos</h2></a>
       <a [routerLink]="['sobre']" [routerLinkActive]="['ativado']"><h2>Sobre</h2></a>
    </nav>
  </section>
</div>
